packages: [
  "atom-clock"
  "atom-material-syntax"
  "atom-material-ui"
  "atom-monokai"
  "firewatch-syntax"
  "Hydrogen"
  "isotope-ui"
  "language-prolog"
  "monokai"
  "monokai-seti"
  "monokai-slate"
  "package-sync"
  "seti-syntax"
  "seti-ui"
]
